//DECLARAÇÃO DE VARIÁVEIS
//Para declarar um variável utilizamos o simbolo ( $ ) iniciando o identificador.
$text-color: #fff000;
$back-color: #e20775;
body {
    background-color: $back-color;
    color: $text-color;
}
