//DECLARAÇÃO DE VARIÁVEIS
//Para declarar um variável utilizamos o simbolo ( $ ) iniciando o identificador.
$text-color: #fff000;
$back-color: #e20775;
$container-fundo: #335689;
$back-p: #88ff00;

body {
    background-color: $back-color;
    color: $text-color;

    .container {
        border: 2px solid #333;
        max-width: 100px;
        font-size: 0.9em;
        color: #fff;
        background-color: $back-p;
        p {
            background-color: $back-p;
            font-family: "Trebuchet MS", sans-serif;
        }
    }
}
